#about {
    .card {
        &-text:not(.show) {
            display: block;
            height: 3rem;
            overflow: hidden;
        }
        &-body {
            a.collapsed::after {
                content: "+ Show More";
            }
            a:not(.collapsed)::after {
                content: "- Show Less";
            }
            a {
                text-decoration: none;
            }
        }
        &-text.collapsing {
            height: 3rem;
        }
    }
}