
// root {
//     $color-default: #212529;
//     $color-primary: #ce1212;
//     $color-secondary: #37373f;
// }

$primary-color : #ce1212;

#cardSection {
    h5.card-title {
        cursor: pointer;
    }
}

.menu {
    color: #212529;
    .nav-link.active{
        color: $primary-color;
    }

    .card-title{
        overflow: clip;
    }
}

.tab-pane .col{
    padding: 16px;
}

#about {
    .card {
        &-text:not(.show) {
            display: block;
            height: 3rem;
            overflow: hidden;
        }
        &-body {
            a.collapsed::after {
                content: "+ Show More";
            }
            a:not(.collapsed)::after {
                content: "- Show Less";
            }
            a {
                text-decoration: none;
            }
        }
        &-text.collapsing {
            height: 3rem;
        }
    }
}